
<app-formulario-cuenta></app-formulario-cuenta>
<br>
<app-facturacion></app-facturacion>
<br><br>
<div class="container">
  <a *ngFor="let librosCarrito of libros1">
<div class="row">
  <div class="col-6">
    <div class="card bg-dark text-white">
      <img class="card-img" src={{librosCarrito.url}} alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">DATOS DE LIBRO</h5>
        <p>Nombre: {{librosCarrito.nombre}}</p>
        <p>Numero de paginas: {{librosCarrito.numeroPaginas}}</p>
        <p>Edicion: {{librosCarrito.edicion}}</p>
        <p>Fecha publicacion: {{librosCarrito.fechaPublicacion}}</p>
        <p>Nombre Editorial: {{librosCarrito.nombreEditorial}}</p>
      </div>
    </div>
  </div>
  <div class="col-6" align="center">
    <br><br><br><br>
    <button (click)="deleteCarrito(librosCarrito.id)" type="button" class="btn btn-primary" >ELIMINAR</button>
      </div>
</div>
    <br><br><br>
  </a>
</div>
<div class="class">
  <h3>TOTAL : </h3>{{CalculoTotalLibros()}}
</div>
