
<a *ngFor="let autor of autorp" class="col-6">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{autor.url}} width="100" height="300" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DATOS AUTOR: </h5>
      <p class="card-text"> Nombre: {{autor.nombre}}</p>
      <p class="card-text">Apellido: {{autor.apellido}}</p>
      <p class="card-text">Apellido: {{autor.id}}</p>
     <p class="card-text">Fecha Nacimiento: {{autor.fechaNacimiento}}</p>
      <p class="card-text">Numero de libros: {{autor.numeroLibros}}</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/paginaD/',autor.id]">Mostrar Libros</a>
      <br><br>
      <a href="#" class="btn btn-primary" [routerLink]="['/paginaD/',autor.id]">Editar</a>
      <br><br>
      <a href="#" class="btn btn-primary" [routerLink]="['/paginaD/',autor.id]">Eliminar</a>
    </div>
  </div>
</a>
<div class="div">
</div>

