<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://imagessl7.casadellibro.com/a/l/t0/77/9788415116677.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">titulo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="div">

<a *ngFor="let autor of autorp">
  <h4>{{autor.name}}</h4>
  <h1>HOLLLALLLALALAL :d</h1>
</a>
</div>
