<!--The content below is only a placeholder and can be replaced.-->
<html>
<head>
</head>
<title></title>
<body>
<ul>
  <li>
    <a [routerLink]="['/home']"> Home</a>-
  </li>
  <li>
    <a [routerLink]="['/paginaD']"> Pagina2</a>-
  </li>
  <li>
    <a [routerLink]="['/pagina3']"> Pagina3</a>-

  </li>
  <li style="float:right">
    <a [routerLink]="['/pagina4']"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/512x512/plain/shopping_cart2.png" border="1"  width="50" height="50"></a>
  </li>
  <li style="float:right">
    <a> Gonzalo Proaño</a>
  </li>
</ul>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>
</html>



