<h5>INGRESAR UN NUEVO LIBRO</h5>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Nombre" [(ngModel)]="InombreL">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Numero de paginas" [(ngModel)]="INumeroPagL">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Edicion" [(ngModel)]="IedicionL">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Fecha de publicación" [(ngModel)]="IfechaPublicacionL">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Nombre editorial" [(ngModel)]="InombreEditorial">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Id Autor" [(ngModel)]="IdOwnerL">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Costo de Libro" [(ngModel)]="IcostoL">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="Cantidad en stock" [(ngModel)]="IcantidadL">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-form">
    <input matInput placeholder="URL imagen" [(ngModel)]="IurlL">
  </mat-form-field>
</div>
<div class="row">
  <button onclick="alert('¡SE HA REGISTRADO UN NUEVO LIBRO CORRECTAMENTE!')" (click)="add()" type="button" class="btn btn-success">GUARDAR</button>
</div>
